In [47]:
import pandas as pd

In [55]:
raw_sche = pd.read_csv("theaterCycle2023031502.xlsx - Sheet1.csv", index_col= 0, header=None)

In [56]:
output_sche = raw_sche.dropna(subset=1).fillna("somevideo")

In [57]:
output_sche[2] = list(map(lambda x: "video/" + x, output_sche[2]))

In [58]:
output_sche[3] = 100

In [59]:
#output_sche.to_csv("schedule.txt", index=0, header=0, sep=' ')

In [60]:
output_sche

            1                       2    3
0
NaN   8:50:00         video/BLACK.mp4  100
NaN   9:00:00     video/Tokyo500yesrs  100
NaN   9:18:00           video/Care222  100
NaN   9:19:35               video/WBC  100
NaN   9:23:35       video/GlowOfTokyo  100
..        ...                     ...  ...
NaN  22:39:35               video/WBC  100
NaN  22:43:35       video/GlowOfTokyo  100
NaN  22:48:50         video/somevideo  100
NaN  22:52:00  video/BS4_20230315.mp4  100
NaN  23:00:00         video/BLACK.mp4  100

[128 rows x 3 columns]